USE [master]
GO
/****** Object:  Database [Omega]    Script Date: 06/02/2019 19:21:35 ******/
CREATE DATABASE [Omega] ON  PRIMARY 
( NAME = N'Omega', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Omega.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Omega_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Omega_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Omega].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Omega]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 06/02/2019 19:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Cod_review] [int] NOT NULL,
	[Detalle] [nvarchar](1000) NULL,
	[Fecha_review] [date] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Cod_review] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 06/02/2019 19:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[Cod_Pais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Pais] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pais] ON
INSERT [dbo].[Pais] ([Cod_Pais], [Nombre], [Estado]) VALUES (1, N'Argentina', 1)
INSERT [dbo].[Pais] ([Cod_Pais], [Nombre], [Estado]) VALUES (2, N'Colombia', 1)
INSERT [dbo].[Pais] ([Cod_Pais], [Nombre], [Estado]) VALUES (4, N'Peru', 1)
SET IDENTITY_INSERT [dbo].[Pais] OFF
/****** Object:  Table [dbo].[MedioPago]    Script Date: 06/02/2019 19:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedioPago](
	[Cod_MPago] [int] IDENTITY(100,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_MPago] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Descripcion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedioPago] ON
INSERT [dbo].[MedioPago] ([Cod_MPago], [Descripcion], [Estado]) VALUES (100, N'Tarjeta de Credito', NULL)
INSERT [dbo].[MedioPago] ([Cod_MPago], [Descripcion], [Estado]) VALUES (101, N'Trajeta de Debito', NULL)
INSERT [dbo].[MedioPago] ([Cod_MPago], [Descripcion], [Estado]) VALUES (102, N'Efectivo (RapiPago)', NULL)
SET IDENTITY_INSERT [dbo].[MedioPago] OFF
/****** Object:  Table [dbo].[Genero]    Script Date: 06/02/2019 19:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[Cod_Genero] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Genero] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Genero] ON
INSERT [dbo].[Genero] ([Cod_Genero], [Nombre], [Estado]) VALUES (1, N'RPG', 1)
INSERT [dbo].[Genero] ([Cod_Genero], [Nombre], [Estado]) VALUES (2, N'ARPG', 1)
INSERT [dbo].[Genero] ([Cod_Genero], [Nombre], [Estado]) VALUES (3, N'Plataforma', 1)
SET IDENTITY_INSERT [dbo].[Genero] OFF
/****** Object:  Table [dbo].[Juego]    Script Date: 06/02/2019 19:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juego](
	[Id_juego] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](1000) NOT NULL,
	[Fecha_Lanzamiento] [date] NOT NULL,
	[Desarrollador] [nvarchar](50) NOT NULL,
	[Distribuidor] [nvarchar](50) NOT NULL,
	[Genero] [int] NOT NULL,
	[Idioma] [nvarchar](50) NOT NULL,
	[Precio] [float] NOT NULL,
	[Imagen] [nvarchar](100) NOT NULL,
	[Clasificacion] [nvarchar](50) NOT NULL,
	[Pagina_oficial] [nvarchar](50) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK__Juego__DB51539307020F21] PRIMARY KEY CLUSTERED 
(
	[Id_juego] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Juego] ON
INSERT [dbo].[Juego] ([Id_juego], [Nombre], [Descripcion], [Fecha_Lanzamiento], [Desarrollador], [Distribuidor], [Genero], [Idioma], [Precio], [Imagen], [Clasificacion], [Pagina_oficial], [Estado]) VALUES (2, N'Transistor', N'Red, una famosa cantante de la ciudad de Cloudbank', CAST(0x8C380B00 AS Date), N'Supergiant Games', N'Supergiant Games', 2, N'Inlges, Español', 60, N'~/img/covers/transistor.jpg', N'Pegi 16', N'supergiantgames.com', 1)
SET IDENTITY_INSERT [dbo].[Juego] OFF
/****** Object:  Table [dbo].[Compra]    Script Date: 06/02/2019 19:21:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[cod_compra] [int] IDENTITY(1000,1) NOT NULL,
	[cod_medio] [int] NOT NULL,
	[fecha_compra] [date] NOT NULL,
	[Numero_juegos] [int] NULL,
 CONSTRAINT [PK__Detalles__7666303A145C0A3F] PRIMARY KEY CLUSTERED 
(
	[cod_compra] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[spActualizarGenero]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarGenero]
(
@COD_GENERO INT,
@NOMBRE NVARCHAR(50),
@ESTADO BIT
)
AS
UPDATE Genero
SET
Nombre=@NOMBRE,
Estado=@ESTADO
WHERE Cod_Genero=@COD_GENERO
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarPais]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarPais]
(
@COD_PAIS INT,
@NOMBRE NVARCHAR(50)
)
AS
UPDATE Pais
SET
Nombre=@NOMBRE
WHERE Cod_Pais=@COD_PAIS
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarMedio]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarMedio]
(
@COD_MEDIO INT,
@DESCRIPCION NVARCHAR(50)
)
AS
UPDATE MedioPago
SET
Descripcion=@DESCRIPCION
WHERE Cod_MPago=@COD_MEDIO
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spEliminarReview]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarReview]
(
@COD_REVIEW int,
@ESTADO BIT
)
AS
UPDATE Review
SET
Estado=@ESTADO
WHERE Cod_review=@COD_REVIEW
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spEliminarPais]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarPais]
(
@COD_PAIS INT,
@ESTADO BIT
)
AS
UPDATE Pais
SET
Estado=@ESTADO
WHERE Cod_Pais=@COD_PAIS
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spEliminarMedio]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarMedio]
(
@COD_MEDIO INT,
@ESTADO BIT
)
AS
UPDATE MedioPago
SET
Estado=@ESTADO
WHERE Cod_MPago=@COD_MEDIO
RETURN
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](50) NOT NULL,
	[Cod_Pais] [int] NOT NULL,
	[Administrador] [bit] NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Usuario] ([Usuario], [Nombre], [Apellido], [Email], [Contraseña], [Telefono], [Cod_Pais], [Administrador], [Estado]) VALUES (N'Cami98', N'Camila', N'Prado', N'camifkahkf@gmail.com', N'1234', N'13123124', 1, 0, 1)
INSERT [dbo].[Usuario] ([Usuario], [Nombre], [Apellido], [Email], [Contraseña], [Telefono], [Cod_Pais], [Administrador], [Estado]) VALUES (N'Fede093', N'Federico', N'Borja', N'fede.stark1@gmail.com', N'1234', N'1169589686', 1, 1, 1)
INSERT [dbo].[Usuario] ([Usuario], [Nombre], [Apellido], [Email], [Contraseña], [Telefono], [Cod_Pais], [Administrador], [Estado]) VALUES (N'Gera', N'Gerardo', N'No se', N'fgede@gmail.com', N'1234', N'12345', 2, 0, 1)
/****** Object:  StoredProcedure [dbo].[spEliminarGenero]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarGenero]
(
@COD_GENERO INT,
@ESTADO BIT
)
AS
UPDATE Genero
SET
Estado=@ESTADO
WHERE Cod_Genero=@COD_GENERO
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarUsuario]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarUsuario]
(
@USUARIO NVARCHAR(50),
@NOMBRE NVARCHAR(50),
@APELLIDO NVARCHAR(50),
@EMAIL NVARCHAR(50),
@CONTRASEÑA NVARCHAR(50),
@TELEFONO NVARCHAR (50),
@COD_PAIS INT,
@ADMINISTRADOR BIT
)
AS
UPDATE Usuario
SET
Nombre=@NOMBRE,
Apellido=@APELLIDO,
Email=@EMAIL,
Telefono=@TELEFONO,
Cod_Pais=@COD_PAIS,
Administrador=@ADMINISTRADOR
WHERE Usuario=@USUARIO
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spInsertarUsuario]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarUsuario]
(
@USUARIO NVARCHAR(50),
@NOMBRE NVARCHAR(50),
@APELLIDO NVARCHAR(50),
@EMAIL NVARCHAR(50),
@CONTRASEÑA NVARCHAR(50),
@TELEFONO NVARCHAR (50),
@COD_PAIS INT,
@ADMINISTRADOR BIT,
@ESTADO BIT
)
AS
INSERT INTO Usuario
(
Usuario,
Nombre,
Apellido,
Email,
Contraseña,
Telefono,
Cod_Pais,
Administrador,
Estado
)
VALUES
(
@USUARIO,
@NOMBRE,
@APELLIDO,
@EMAIL,
@CONTRASEÑA,
@TELEFONO,
@COD_PAIS,
@ADMINISTRADOR,
@ESTADO
)RETURN
GO
/****** Object:  StoredProcedure [dbo].[spInsertarJuego]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarJuego]
(
@COD_JUEGO INT,
@NOMBRE NVARCHAR(50),
@DESCRIPCION NVARCHAR(50),
@FECHA DATE,
@DESARROLLADOR NVARCHAR(50),
@DISTRIBUIDOR NVARCHAR(50),
@GENERO INT,
@IDIOMA NVARCHAR(50),
@PRECIO FLOAT,
@RUTA_IMAGEN NVARCHAR(100),
@CLASIFICACION NVARCHAR(50),
@PAGINA_OFICIAL NVARCHAR(50),
@ESTADO BIT
)
AS
INSERT INTO Juego
(
Nombre,
Descripcion,
Fecha_Lanzamiento,
Desarrollador,
Distribuidor,
Genero,
Idioma,
Precio,
Imagen,
Clasificacion,
Pagina_oficial,
Estado
)
VALUES
(
@NOMBRE,
@DESCRIPCION,
@FECHA,
@DESARROLLADOR,
@DISTRIBUIDOR,
@GENERO,
@IDIOMA,
@PRECIO,
@RUTA_IMAGEN,
@CLASIFICACION,
@PAGINA_OFICIAL,
@ESTADO
)RETURN
GO
/****** Object:  StoredProcedure [dbo].[spEliminarUsuario]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarUsuario]
(
@USUARIO NVARCHAR(50),
@ESTADO BIT
)
AS
UPDATE Usuario
SET
Estado=@ESTADO
WHERE Usuario=@USUARIO
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spEliminarJuego]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarJuego]
(
@COD_JUEGO INT,
@ESTADO BIT
)
AS
UPDATE Juego
SET
Estado=@ESTADO
WHERE Id_juego=@COD_JUEGO
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarJuego]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarJuego]
(
@COD_JUEGO INT,
@NOMBRE NVARCHAR(50),
@DESCRIPCION NVARCHAR(50),
@FECHA DATE,
@DESARROLLADOR NVARCHAR(50),
@DISTRIBUIDOR NVARCHAR(50),
@GENERO INT,
@IDIOMA NVARCHAR(50),
@PRECIO FLOAT,
@RUTA_IMAGEN NVARCHAR(100),
@CLASIFICACION NVARCHAR(50),
@PAGINA_OFICIAL NVARCHAR(50)
)
AS
UPDATE Juego 
SET 
Nombre=@NOMBRE,
Descripcion=@DESCRIPCION,
Fecha_Lanzamiento=@FECHA,
Desarrollador=@DESARROLLADOR,
Distribuidor=@DISTRIBUIDOR,
Genero=@GENERO,
Idioma=@IDIOMA,
Precio=@PRECIO,
Imagen=@RUTA_IMAGEN,
Clasificacion=@CLASIFICACION,
Pagina_oficial=@PAGINA_OFICIAL
WHERE Id_juego=@COD_JUEGO
RETURN
GO
/****** Object:  Table [dbo].[RevXJue]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevXJue](
	[Cod_Review] [int] IDENTITY(1,1) NOT NULL,
	[Id_juego] [int] NOT NULL,
	[Cod_Usuario] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RevXjue_1] PRIMARY KEY CLUSTERED 
(
	[Id_juego] ASC,
	[Cod_Usuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[juegoXusuario]    Script Date: 06/02/2019 19:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[juegoXusuario](
	[Cod_Compra] [int] NOT NULL,
	[Id_juego] [int] NOT NULL,
	[Cod_Usuario] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Compra] PRIMARY KEY CLUSTERED 
(
	[Id_juego] ASC,
	[Cod_Usuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK__Juego__Genero__08EA5793]    Script Date: 06/02/2019 19:21:35 ******/
ALTER TABLE [dbo].[Juego]  WITH CHECK ADD  CONSTRAINT [FK__Juego__Genero__08EA5793] FOREIGN KEY([Genero])
REFERENCES [dbo].[Genero] ([Cod_Genero])
GO
ALTER TABLE [dbo].[Juego] CHECK CONSTRAINT [FK__Juego__Genero__08EA5793]
GO
/****** Object:  ForeignKey [FK__DetallesC__cod_m__164452B1]    Script Date: 06/02/2019 19:21:35 ******/
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK__DetallesC__cod_m__164452B1] FOREIGN KEY([cod_medio])
REFERENCES [dbo].[MedioPago] ([Cod_MPago])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK__DetallesC__cod_m__164452B1]
GO
/****** Object:  ForeignKey [FK__Usuario__Cod_Pai__25869641]    Script Date: 06/02/2019 19:21:36 ******/
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([Cod_Pais])
REFERENCES [dbo].[Pais] ([Cod_Pais])
GO
/****** Object:  ForeignKey [FK_RevXJue_Juego]    Script Date: 06/02/2019 19:21:36 ******/
ALTER TABLE [dbo].[RevXJue]  WITH CHECK ADD  CONSTRAINT [FK_RevXJue_Juego] FOREIGN KEY([Id_juego])
REFERENCES [dbo].[Juego] ([Id_juego])
GO
ALTER TABLE [dbo].[RevXJue] CHECK CONSTRAINT [FK_RevXJue_Juego]
GO
/****** Object:  ForeignKey [FK_RevXJue_Review]    Script Date: 06/02/2019 19:21:36 ******/
ALTER TABLE [dbo].[RevXJue]  WITH CHECK ADD  CONSTRAINT [FK_RevXJue_Review] FOREIGN KEY([Cod_Review])
REFERENCES [dbo].[Review] ([Cod_review])
GO
ALTER TABLE [dbo].[RevXJue] CHECK CONSTRAINT [FK_RevXJue_Review]
GO
/****** Object:  ForeignKey [FK_RevXJue_Usuario]    Script Date: 06/02/2019 19:21:36 ******/
ALTER TABLE [dbo].[RevXJue]  WITH CHECK ADD  CONSTRAINT [FK_RevXJue_Usuario] FOREIGN KEY([Cod_Usuario])
REFERENCES [dbo].[Usuario] ([Usuario])
GO
ALTER TABLE [dbo].[RevXJue] CHECK CONSTRAINT [FK_RevXJue_Usuario]
GO
/****** Object:  ForeignKey [FK__juegoXusu__Cod_C__1920BF5C]    Script Date: 06/02/2019 19:21:36 ******/
ALTER TABLE [dbo].[juegoXusuario]  WITH CHECK ADD  CONSTRAINT [FK__juegoXusu__Cod_C__1920BF5C] FOREIGN KEY([Cod_Compra])
REFERENCES [dbo].[Compra] ([cod_compra])
GO
ALTER TABLE [dbo].[juegoXusuario] CHECK CONSTRAINT [FK__juegoXusu__Cod_C__1920BF5C]
GO
/****** Object:  ForeignKey [FK__juegoXusu__Cod_U__29572725]    Script Date: 06/02/2019 19:21:36 ******/
ALTER TABLE [dbo].[juegoXusuario]  WITH CHECK ADD FOREIGN KEY([Cod_Usuario])
REFERENCES [dbo].[Usuario] ([Usuario])
GO
/****** Object:  ForeignKey [FK__juegoXusu__Id_ju__1A14E395]    Script Date: 06/02/2019 19:21:36 ******/
ALTER TABLE [dbo].[juegoXusuario]  WITH CHECK ADD  CONSTRAINT [FK__juegoXusu__Id_ju__1A14E395] FOREIGN KEY([Id_juego])
REFERENCES [dbo].[Juego] ([Id_juego])
GO
ALTER TABLE [dbo].[juegoXusuario] CHECK CONSTRAINT [FK__juegoXusu__Id_ju__1A14E395]
GO
