USE [Omega]
GO
/****** Object:  StoredProcedure [dbo].[spActualizarGenero]    Script Date: 06/02/2019 19:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spActualizarGenero]
(
@COD_GENERO INT,
@NOMBRE NVARCHAR(50),
@ESTADO BIT
)
AS
UPDATE Genero
SET
Nombre=@NOMBRE,
Estado=@ESTADO
WHERE Cod_Genero=@COD_GENERO
RETURN
