USE [Omega]
GO
/****** Object:  StoredProcedure [dbo].[spActualizarJuego]    Script Date: 06/02/2019 19:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spActualizarJuego]
(
@COD_JUEGO INT,
@NOMBRE NVARCHAR(50),
@DESCRIPCION NVARCHAR(50),
@FECHA DATE,
@DESARROLLADOR NVARCHAR(50),
@DISTRIBUIDOR NVARCHAR(50),
@GENERO INT,
@IDIOMA NVARCHAR(50),
@PRECIO FLOAT,
@RUTA_IMAGEN NVARCHAR(100),
@CLASIFICACION NVARCHAR(50),
@PAGINA_OFICIAL NVARCHAR(50)
)
AS
UPDATE Juego 
SET 
Nombre=@NOMBRE,
Descripcion=@DESCRIPCION,
Fecha_Lanzamiento=@FECHA,
Desarrollador=@DESARROLLADOR,
Distribuidor=@DISTRIBUIDOR,
Genero=@GENERO,
Idioma=@IDIOMA,
Precio=@PRECIO,
Imagen=@RUTA_IMAGEN,
Clasificacion=@CLASIFICACION,
Pagina_oficial=@PAGINA_OFICIAL
WHERE Id_juego=@COD_JUEGO
RETURN
