USE [Omega]
GO
/****** Object:  StoredProcedure [dbo].[spInsertarJuego]    Script Date: 06/02/2019 19:43:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spInsertarJuego]
(
@COD_JUEGO INT,
@NOMBRE NVARCHAR(50),
@DESCRIPCION NVARCHAR(50),
@FECHA DATE,
@DESARROLLADOR NVARCHAR(50),
@DISTRIBUIDOR NVARCHAR(50),
@GENERO INT,
@IDIOMA NVARCHAR(50),
@PRECIO FLOAT,
@RUTA_IMAGEN NVARCHAR(100),
@CLASIFICACION NVARCHAR(50),
@PAGINA_OFICIAL NVARCHAR(50),
@ESTADO BIT
)
AS
INSERT INTO Juego
(
Nombre,
Descripcion,
Fecha_Lanzamiento,
Desarrollador,
Distribuidor,
Genero,
Idioma,
Precio,
Imagen,
Clasificacion,
Pagina_oficial,
Estado
)
VALUES
(
@NOMBRE,
@DESCRIPCION,
@FECHA,
@DESARROLLADOR,
@DISTRIBUIDOR,
@GENERO,
@IDIOMA,
@PRECIO,
@RUTA_IMAGEN,
@CLASIFICACION,
@PAGINA_OFICIAL,
@ESTADO
)RETURN
